body {
    background-color: #0d0d0d;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    place-items: center;
}
img {
    width: 340px;
}
.container {
    width: 600px;
    border: 1px solid rgb(77, 117, 117);
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
}
h1 {
    color: #abf8de;
}
p {
    font-size: 20px;
    color: #9dead0;
    font-weight: 500;
}
.title {
    background: #383838;
    padding: 12px;
    width: 90%;
    text-align: center;
}
.footer {
	background: #383838;
	font-size: 18px;
	text-align: center;
	padding: 12px;
	margin-bottom: 20px
}
